# Ignore compiled and build files
*.o
*.x
*.spv
main
/build/
/bin/
/Vulkan-Tutorial/
Makefile

# Ignore profiling files
callgrind.*

# Ignore text/log files
*.log
*.txt
!CMakeLists.txt
*.output

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore misc files
*.sh
/.cache/
.*
!.gitignore